html{
height: 100%;
background-color: #fff;
font-family: 'Montserrat', Futura, sans-serif;background-color: #F9F9F9;
color: #e22544;
}

body{
	text-align: center;
	text-transform: uppercase;
	box-sizing: border-box;
	font-family: Montserrat, Futura, sans-serif;
}

.container {
	position: relative;

}
.dani {
	text-align: center;
	margin-top: 10px;
	width: 300px;
}

.quoteWrap {
	display: table;
	position: absolute;
    top: 124px;
    left: 50%;
    width: 214px;
    height: 150px;
    margin-left: -130px;
    padding: 0 15px;
    z-index: 99;
}
.quote {
	display: table-cell;
	vertical-align: middle;
}

.balloon{
	position: relative;
}

.balloon img{
	position: absolute;
	top: -18px;
	left: 50%;
	transform: translateX(-50%);}

button{
	  border:none;
	  background-color: #f9f9f9;
	  padding: 0;
}

.refresh{
	position: absolute;
	bottom: 5vh;
	left: 50%;
	transform: translateX(-50%);
	width: 40px;
}

.refresh img{
	width: 40px;
}