body{
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 1.5em;
	line-height: 1.1;
	font-family: 'Cuprum', sans-serif;
	background: #f7f7fa;
	color: #373737;
}
img {
	max-width: 100%;
}
.preload-images {
  display: none;
  width: 0;
  height: 0;
  background: url(danisales-01.jpg),
              url(danisales-02.jpg),
              url(danisales-03.jpg),
              url(danisales-04.jpg),
              url(danisales-05.jpg);
}
.container {
	position: relative;

}
.dani {
	display: inline-block;
	margin-top: 100px;
	width: 300px;
	cursor: pointer;
}

.quoteWrap {
	display: table;
    position: absolute;
    top: 213px;
    left: 50%;
    width: 214px;
    height: 150px;
    margin-left: -115px;
    padding: 0 15px;
    z-index: 99;
    box-sizing: border-box;
}
.quote {
	display: table-cell;
	vertical-align: middle;
}